<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poemapp">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="诗塾"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.BaseActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Activity.SettingActivity" />
        <activity
            android:name=".Activity.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.IndexActivity" />
        <activity android:name=".Activity.MsgActivity" />
        <activity android:name=".Activity.FriendActivity" />
        <activity android:name=".Activity.MyCollectionActivity" />
        <activity android:name=".Activity.MyWorksActivity" />
        <activity android:name=".Activity.MyIntonationActivity" />
        <activity
            android:name=".Activity.ReadPoemActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_read_poem"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>